/* global.css */
body {
  font-family: 'Rubik', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0d6efd;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main.flex-grow-1 {
    flex: 1;
}

html,body {
    height: 100%;
}