/* main.css */
.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.card-title {
  font-weight: 600;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

footer {
  margin-top: auto;
}
